* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #081725;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: var(--dark-blue);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    grid-template-rows: 150px 1fr 50px;

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 3.5rem;
}

.libraryStats div {
    margin-bottom: 5px;
}

.stats {
    font-weight: bold;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
    width: 250px;
    height: 150px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
}

.boxLine {
    display: flex;
    align-items: center;
}

.deleteButton {
    width: 20px;
    height: auto;
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
}

.toggleRead {
    margin-left: auto;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 500px;
    border: 5px solid black;
}

.hideFormContainer {
    display: none;
}

.formToggleButton {
    font-size: 2rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.footer {
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 5px;
}